commands:
  01_install_postgresql:
    command: "sudo yum install -y postgresql15-server postgresql15-contrib"
  02_init_postgresql:
    command: "sudo postgresql-setup --initdb"
    ignoreErrors: true
  03_start_postgresql:
    command: "sudo systemctl start postgresql"
  04_enable_postgresql:
    command: "sudo systemctl enable postgresql"
  05_configure_pg_hba:
    command: |
      sudo sed -i 's/ident/md5/g' /var/lib/pgsql/data/pg_hba.conf
      sudo systemctl restart postgresql
  06_create_database:
    command: |
      sudo -u postgres psql -c "CREATE DATABASE thrift;" || true
      sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'mandeepsingh';" || true
      sudo -u postgres psql -c "GRANT ALL PRIVILEGES ON DATABASE thrift TO postgres;" || true